#source-textarea {
  width: 600px;
  height: 400px;
}

#source {
  background-color: white;
}

#homebutton {
  background-color: #1E71B1;
  border-color: white;
  border-radius: 0;
  border-width: 1.5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  background-color: #FFFFF8;
}

#test {
  color: #2A98F1;
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
}

input[type="text"] {
  font-family: 'Roboto', sans-serif;
}
