#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: #2A98F1;
  background: -webkit-linear-gradient(left top, #2A98F1, #031A2B);
  background: -o-linear-gradient(bottom right, #2A98F1, #031A2B);
  background: -moz-linear-gradient(bottom right, #2A98F1, #031A2B);
  background: linear-gradient(to bottom right, #2A98F1, #031A2B);
  opacity: 0.95;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: white;
  letter-spacing: 0.005em;
}

#source-wrapper {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.025em;
  margin-bottom: 200px;
}

#submit {
  background-color: #1E71B1;
  border-color: white;
  border-radius: 0;
  border-width: 1.5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  background-color: #FFFFF8;
}

input[type="text"] {
  font-family: 'Roboto', sans-serif;
}

#answerinput {
  width: 1000px;
  margin-bottom: 27px;
}
#submit {
  margin-bottom: 27px;
}
