#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4563c5;
  background: -webkit-linear-gradient(left top, #223374, #4563c5);
  background: -o-linear-gradient(bottom right, #223374, #4563c5);
  background: -moz-linear-gradient(bottom right, #223374, #4563c5);
  background: linear-gradient(to bottom right, #223374, #4563c5);
  opacity: 0.95;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: white;
  letter-spacing: 0.005em;
}

.nav {
  padding-right:246px;
}

.nav-pills a{
  color:white;
  background:transparent;
  opacity:0.5;
  font-family: 'Roboto',sans-serif;
  }

  .nav-pills a:hover {
    color: black;
}

#logo {
  margin-top: 20px;
  margin-left: 120px;
}


#source-wrapper {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.025em;
  margin-bottom: 200px;
}

#submit {
  background-color: transparent;
  border-color: white;
  border-width: 1.5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  outline:none;
}

body {
  background-image: url("https://image.ibb.co/mFHh6G/Untitled_5.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}

.jumbotron {
  background-color: transparent !important;
}

input[type="text"] {
  font-family: 'Roboto', sans-serif;
}

#answerinput {
  width: 1000px;
  margin-bottom: 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#submit {
  margin-bottom: 27px;
}

#name1 {
  float: left;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 80px !important;
}

#here1 {
  float: left;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 80px !important;
}

.word {
  display: inline;
}

#source-wrapper {
  padding-top: 6px;
}

#sucky {
  margin-bottom: 10px;
}
