.nav {
    padding-right:246px;
  }
  
  #logo {
    margin-top: 20px;
    margin-left: 120px;
  }

  p {
    margin-right: 70px;
  }
  
  #source-wrapper {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 26px;
    line-height: 2;
    letter-spacing: 0.025em;
    margin-bottom: 200px;
  }
  
  body {
    background-image: url("https://image.ibb.co/mFHh6G/Untitled_5.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
  }

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100 !important;
    font-size: 30px !important;
}

h2 {
  color: #4563c5 !important;
}
.nav-pills a{
  color:white;
  background:transparent;
  opacity:0.5;
  font-family: 'Roboto',sans-serif;
  }

  .nav-pills a:hover { 
    color: black;
}

  #name1 {
      float: left;
      color: white !important;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 80px !important;
  }
  
  #here1 {
      float: left;
      color: white !important;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 80px !important;
  }

  #descr {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 20px;
  }
